*.o
.libs/
*.lo
*.pc
config.*
.deps/
aclocal.m4
autom4te.cache/
Makefile
Makefile.in
bsdiff
bsdump
bspatch
compile
configure
depcomp
install-sh
libbsdiff.la
libtool
ltmain.sh
m4/
missing
src/.dirstamp
stamp-h1
bsdiff-*.tar.xz
test/*.diff
test/*.out
