*.o
.libs/
*.lo
*.pc
config.*
.deps/
aclocal.m4
autom4te.cache/
Makefile
Makefile.in
bsdiff
bsdump
bspatch
compile
configure
coverage/
depcomp
install-sh
libbsdiff.la
libtool
ltmain.sh
m4/
missing
src/.dirstamp
src/*.gcda
src/*.gcno
stamp-h1
bsdiff-*.tar.xz
test/*.diff
test/*.out
test/*.log
test/*.trs
tap-driver.sh
test-suite.log
